body{
    background-color: rgb(196, 193, 193);
    margin: 0;
}
header,section{
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
}
section:first-of-type{
    width: 20%;
    height: 500px;
    float: left;
    border: 1px solid black;

}
section:nth-of-type(2){
    width: 40%;
    float: left;
    height: 500px;
    border: 1px solid black;

}
section:nth-of-type(3){
    width: 20%;
    float: left;
    height: 500px;
    border: 1px solid black;
}
section:last-of-type{
    width: 20%;
    float: left;
    height: 500px;
    border: 1px solid black;
}
footer{
    height: 185px;
    border: 1px solid black;
    clear: both;
    
}